extends ./_partials/layout.pug

block head
    != _css('page.css')
    != _css('categories.css')

block title
    != `${__('title.category')}${__('symbol.colon')}${page.category}`

block header
    h1(itemprop="name headline")
        != _p('title.category_in', page.title)

block content
    div(class="collapse wrap category-page")
        - var prev = _category_prev(page.category)
        h2(class="item header category-breadcrumb")
            a(href=url_for(config.category_dir)) #{__('title.all')}
            if prev
                small /
                != prev
            small /
            != page.title
            small #{__('title.category')}
        
        - var posts = page.posts || []
        
        // 게시물을 카드 형태로 표시
        div(class="posts-grid")
            if posts && posts.toArray
                each post in posts.toArray()
                    article(class="post-card" itemscope itemtype="http://schema.org/Article")
                        - var sqlImage = 'https://images.unsplash.com/photo-1544383835-bda2bc66a55d?w=1920&h=1080&fit=crop'
                        - var pythonImage = 'https://images.unsplash.com/photo-1526379095098-d400fd0bf935?w=1920&h=1080&fit=crop'
                        - var dataImage = 'https://images.unsplash.com/photo-1551288049-bebda4e38f71?w=1920&h=1080&fit=crop'
                        - var defaultImage = 'https://images.unsplash.com/photo-1518709268805-4e9042af2176?w=1920&h=1080&fit=crop'
                        - var coverImage = post.cover
                        if !coverImage
                            if post.title && post.title.toLowerCase().includes('sql')
                                - coverImage = sqlImage
                            else if post.categories && post.categories.toArray().find(cat => cat.name === 'python')
                                - coverImage = pythonImage
                            else if post.categories && post.categories.toArray().find(cat => ['preprocessing', 'visualization', 'deep-learning'].includes(cat.name))
                                - coverImage = dataImage
                            else
                                - coverImage = defaultImage
                        
                        div(class="card-cover")
                            a(href=url_for(post.path) itemprop="url")
                                img(src=coverImage alt=post.title loading="lazy" decoding="async")
                        
                        div(class="card-content")
                            div(class="card-meta")
                                time(
                                    itemprop="dateCreated"
                                    datetime=moment(post.date).format()
                                    content=date(post.date, config.date_format)
                                ) #{date(post.date, 'YYYY-MM-DD')}
                                
                                // 카테고리 태그 표시
                                if post.categories && post.categories.length
                                    div(class="card-categories")
                                        each cat in post.categories.toArray()
                                            if cat.name !== page.title
                                                span(class="category-tag") #{cat.name}
                            
                            div(class="card-title")
                                if post.link
                                    - var postTitleIcon = '<i class="ic i-link-alt"></i>'
                                    - var postText = post.title || post.link
                                    != _url(post.link, postText + postTitleIcon, {class: 'external', itemprop: 'url'})
                                else
                                    a(href=url_for(post.path) itemprop="url")
                                        span(itemprop="name")
                                            != post.title || __('post.untitled')
                            
                            if post.excerpt
                                div(class="card-excerpt")
                                    != post.excerpt
                            
                            div(class="card-footer")
                                if post.tags && post.tags.length
                                    div(class="card-tags")
                                        each tag in post.tags.toArray().slice(0, 3)
                                            span(class="tag") ##{tag.name}

    include _partials/pagination.pug
